{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/no-unused-prop-types": "off",
    "import/prefer-default-export": ["off", { "target": "any" }],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react", "^@?\\w"],
          ["^(@|components)(/.*|$)"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^\\u0000"],
          ["^.+\\.?(scss)$"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "import/no-import-module-exports": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "camelcase": "off",
    "react/jsx-props-no-spreading": "off",
    "no-plusplus":"off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-undef": "off"
  },
  "ignorePatterns": ["node_modules/", "dist/", "src/stories", "storybook-static"]
}