.toast {
    position: fixed;
    top: var(--spacing-20);
    left: 50%;
    transform: translateX(-50%);
    padding: var(--spacing-12) var(--spacing-20);
    border-radius: var(--border-radius-4);
    color: var(--color-white);
    font-weight: var(--font-weight-700);
    z-index: var(--z-index-100);

    &.success {
        background-color: var(--color-green);
    }

    &.error {
        background-color: var(--color-red);
    }
}