.button {
    cursor: pointer;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    border: none;
    background-color: var(--color-white);
    padding: var(--spacing-16) var(--spacing-40);
    transition: box-shadow 1s;
    box-shadow: none;

    &:hover {
        box-shadow: var(--spacing-4) var(--spacing-4) var(--spacing-4) var(--color-dark);
    }
  }